//- nav#nav
//-   - var pagedescr = page.description ? page.description : '欢迎光临糖果屋，愿你有愉快的一天'
//-   - var subtitle = page.subtitle ? page.subtitle : page.title
//-   if is_post()
//-     span#blog_name
//-       a#site-name(onclick='btf.scrollToDest(0, 500)' data-title=pagedescr) #[=subtitle]
//-   else if is_page()
//-     span#blog_name
//-       a#site-name(href=url_for('/') data-title=pagedescr) #[=subtitle]
//-   else
//-     span#blog_name
//-       a#site-name(href=url_for('/') data-title=pagedescr) #[=config.title]

//-   #menus
//-     if (theme.algolia_search.enable || theme.local_search.enable)
//-       #search-button
//-         a.site-page.social-icon.search
//-           i.fas.fa-search.fa-fw
//-           span=' '+_p('search')
//-     !=partial('includes/header/menu_item', {}, {cache: true})

//-     #toggle-menu
//-       a.site-page
//-         i.fas.fa-bars.fa-fw

nav#nav
  span#blog_name
    a#site-name(href=url_for('/')) #[=config.title]
    
  #menus
    !=partial('includes/header/menu_item', {}, {cache: true})
    //- 这两行是导航栏显示标题用的
    center(id="name-container")
      a(id="page-name" href="javascript:scrollToTop()")
      
    #nav-right
      if (theme.algolia_search.enable || theme.local_search.enable)
        #search-button
          a.search.faa-parent.animated-hover(title="检索站内任何你想要的信息")
            svg.faa-tada.icon(style="height:28px;width:28px;fill:currentColor;position:relative;" aria-hidden="true")
              use(xlink:href='#icon-sousuo')
            span=' '+_p('search.title')    

      //- 美化设置
      a.meihua.faa-parent.animated-hover(onclick="toggleWinbox()" title="美化设置-自定义你的风格" id="meihua-button")
        svg.faa-tada.icon(style="height:28px;width:28px;fill:currentColor;position:relative;margin-left:25px;margin-right:25px;" aria-hidden="true")
          use(xlink:href='#icon-food-cookie')

      //- 暗黑模式按钮
      a.sun_moon.faa-parent.animated-hover(onclick='switchNightMode()',  title=_p('rightside.night_mode_title') id="nightmode-button")
        svg.faa-tada(style="height:28px;width:28px;fill:currentColor;position:relative;", viewBox='0 0 1024 1024')
          use#modeicon(xlink:href='#icon-xiuxi')         
        
      #toggle-menu
        a
          i.fas.fa-bars.fa-fw